@font-face {
    font-family: "MisoRegular";
    src: url("../resources/MisoRegular.otf");
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    background-image: url(../img/background.jpg);
}

div.header {
    background-color: #EBACBC !important;
}

h1 {
    color: #fff;
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #ff2d95, 0 0 30px #ff2d95, 0 0 40px #ff2d95, 0 0 50px #ff2d95, 0 0 75px #ff2d95;
    letter-spacing: 10px;
    font: 80px 'MisoRegular';
}

h2 {
    display: flex;
    justify-content: center;
    margin: 20px;
}

div.nav {
    padding-left: 10%;
    font: 30px 'MisoRegular';
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

div.user_points {
    padding-right: 10%;
    font: 30px 'MisoRegular';
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#small_image{
    margin-right: 10px;
    border-radius: 100%;
}

a.nav {
    text-decoration: none;
    color: black;
}

a.nav:hover {
    background-color: #E59DA9;
    cursor: pointer;
}

a.nav + a.nav {
    margin-left: 10px;
}

div.title {
    display: flex;
    justify-content: center;
    align-items: center;
}

div.main {
    margin-top: 30px;
    display: flex;
    margin-left: 30%;
    margin-right: 30%;
    flex-direction: column;
    font: 20px 'MisoRegular';
}

form {
    border-radius: 10px;
    padding: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button_style {
    padding: 10px;
    font: 20px 'MisoRegular';
    letter-spacing: 2px;
    background-color: rgb(247, 37, 86);
    font-weight: bold;
    color: #ffffff;
    border-radius: 100px;
    border: 1px solid #F36C8C;
    cursor: pointer;
    text-decoration: none;
}

.friends {
    font-size: 35px;
}

.unknown_friends{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 50px;
}

.img_and_name{
    display: flex;
    flex-direction: row;
}

li{
    list-style-type: none; 
}